<div class="container">
  <div class="row">
    <nav class="nav flex-column col-md-2 pl-3">
      <a class="btn btn-outline-light text-dark mb-2" href="javascript: void(0)" id="start-button" ng-click="vm.buttonClick($event, 'start')">Start</a>
      <a class="btn btn-outline-light text-dark mb-2" href="javascript: void(0)" id="end-button" ng-click="vm.buttonClick($event, 'end')">End</a>
      <a class="btn btn-outline-light text-dark mb-2" href="javascript: void(0)" id="go-button" ng-click="vm.buttonClick($event, 'go')">Go!</a>
    </nav>
    <div class="col-md-10">
      <div ng-if="vm.stateService.statusRunning" class="alert alert-primary" role="alert">
        Calculating route, please wait...
      </div>
      <div id="board-wrapper">
      </div>
      <pre ng-if="vm.debugging" class="float-left pl-2 w-25">
blockedList: {{vm.stateService.blockedList}}
status:      {{vm.stateService.status | json}}
      </pre>
    </div>
  </div>
</div>