@import "~bootstrap/scss/bootstrap";

html, body {
  font-size: 14px;
  height: 100%;
  width: 100%;
}

.container-fluid, .container {
  height: calc(100% - 64px);
  .row {
    height: 100%;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.tiles {
}

.tile {
  position: relative;
  float: left;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  label {
    position: absolute;
    right: 2px;
    bottom: 0px;
    margin: 0;
    z-index: 0;
    pointer-events: none;
  }
  &:hover, &.selected {
    background: #e5e5e5;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container-fluid, .container {
    height: calc(100% - 73px);
  }
}

